
/*
.grid-view tr[clienttype='0'] td:first-child { color:#009f9c }
.grid-view tr[clienttype='1'] td:first-child { color:#6200ea }
.grid-view tr[clienttype='2'] td:first-child { color:#9b9b9b }
*/

.table th { color:#717171; font-size:13px; }

.grid-view .fio { margin-left:20px;  }
.grid-view tr[clienttype='0'] .fio::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width:70px;
    height:76px;
    background: url('../img/client_0.png');
}

.grid-view tr[clienttype='1'] .fio::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width:70px;
    height:76px;
    background: url('../img/client_1.png');
}

.grid-view tr[clienttype='2'] .fio::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width:70px;
    height:76px;
    background: url('../img/client_2.png');
}

.grid-view tr[clienttype='0'] .status::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width: 10px;
    height: 10px;
    background: #009f9c;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.grid-view tr[clienttype='1'] .status::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width: 10px;
    height: 10px;
    background: #6200ea;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.grid-view tr[clienttype='2'] .status::before {
    content: '';
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    float:left;
    width: 10px;
    height: 10px;
    background: #9b9b9b;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.currency:after { content:"р." }

td.lastordercell { font-size:13px; color:grey; }

.number { color: #78abe7 }

.grid-view tbody tr { height:100px; }
.grid-view tbody tr td { vertical-align: middle }

.orderscount {

    width:80px;
    text-align:center;
    color:white;
    background:#4a90e2;
    border:1px solid #4a90e2;
    border-radius: 3px 3px 3px 3px;

}

.select {
    background: #eeeeee;
    height:50px;
    vertical-align: middle;
    padding-left:50px;
}

.select .table { display:table; height:100% }
.select .table .cell { display:table-cell; vertical-align: middle }
.select .table .cell span { margin-left:10px; margin-right:10px; }
.select .table .cell span.active { color:#78abe7 }

.select span {
    padding-top:10px;
}

.logo { text-align:center; padding-bottom:30px; }


.all_clients {

}

.new_clients {
    border-bottom:2px solid #009f9c;
}

.regular_clients {
    border-bottom:2px solid #9b9b9b;
}

.vip_clients {
    border-bottom:2px solid #6200ea;
}

.filter { height:57px; border-bottom:1px solid #e0e0e0; }
.filter .table { display:table; height:100%; width:100%; font-size:13px; }
.filter .table .cell { display:table-cell; vertical-align: middle }
.filter .table .cell:first-child { width:300px; }
.filter .table .cell.row-second { text-align:right; }

.filter .clients_name { border:0px; }
.filter .sort_last_order { margin-right:20px; }